/* 414px width 896 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: "Lucida Console", Courier, monospace;
    max-width: 700px;
}
hr{
    background-color: rgba(182, 25,108,1);
    height:0.2rem;
    max-width: 70%;
    width: 100%;
}
.responsive {
    max-width: 100%;
    height: auto;
    padding: 0rem 2rem 1rem ;
}
.Iphone-11-pro-img{
    max-width: 100%;
    height: auto;
    padding: 0rem 6rem 1rem ;
}
.iphone-11-pro-max{
    max-width: 100%;
    height: auto;
    padding: 0rem 4rem 1rem ;
}
.grid-container {
    display: grid;
    grid-template-rows: 70px auto auto auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    background-color: rgba(245, 98, 94,1);
    background-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px rgba(255,175,173,1);
    color: white;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
}
h1{
    text-shadow:5px 5px 1px black;
}
.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}
.info p{
    text-shadow: 1px 1px rgba(182, 25,108,1);
}
h3{
    padding: 2rem 1rem 1rem;
    text-align: center;
}
h2{
    padding: 3rem 1rem 2rem;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    padding: 0.5rem 1rem 0.5rem;
    text-align: center;
}
.footer-grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.firt-button{
    position: relative;
    top: 1rem;
    background-color: rgba(255,210,173,1);
    padding: 1rem 2rem 1rem;
    border-radius: 20%;
    text-shadow: 1px 1px rgba(182, 25,108,1);

    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.firt-button:hover{
    background-color: rgba(245,162, 94,1);
    padding: 1rem 2rem 1rem;
    border-radius: 50%;
    color: white;
}
.img-page-1{
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 1.5rem 0rem 2rem;
}
/*----------------- page 2 ----------------------*/
.header-page-2{
    background-color: rgba(245, 98, 94,1);
    background-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px rgba(255,175,173,1);
    color: white;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
}
.back-button{
    position:fixed;
    max-width: 2rem;
    max-height: auto;
    top: 2rem;
}
.grid-container-page-2{
    grid-template-rows: 70px auto auto auto ;
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-page-2{
    text-align: center;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}
.grid-container-page-2 h3{
    color: rgba(182, 25,108,1);

}
.img-page-2{
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 2rem 0rem 1rem;
}
.main-img-page-2{
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 2rem 0rem 1rem;
}
/* --------------- tablet mode ------------------*/
@media(min-width: 700px){
    p{font-size: 110%;}
    .info{
        max-width: 700px;
    }
    h2{
        padding-top: 3rem;
    }
    .responsive {
        width: 100%;
        max-width: 600px;
    }
    .info p{
        max-width: 600px;
    }
    .back-button{
        max-width: 3rem;
    }
}
/*------------------ desctop mode ---------------------*/
@media(min-width: 1080px){
    p{
        font-size: 110%;
    }
    h2{
        padding: 3rem 0px 2rem;
    }
    .img-page-2{
        display: none;
    }
    .info{
        max-width: 900px;
    }
    .article{
        max-width: 900px;
        width: 100%;
    }
    .responsive {
        width: 100%;
        max-width: 350px;
    }
    .none{
        background-size: 100%;
    }

    .phone {
        display: inline-block;
    }
    .grid-container-page-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px 250px 250px 50 repeat(7, auto) 20px;
        grid-gap: 10px;
        grid-template-areas: 
        "header header header"
        "info2 info2 info2"
        "info2 info2 info2"
        ". . . "
        "TL . . "
        "TL mid . "
        "TL mid BR "
        "TL mid BR "
        " . mid BR "
        " .  .  BR "
        ". . . "
    }
    .header-page-2{
        grid-area: header;
    }
    .info-page-2{
        grid-area: info2;
    }
    .top-left{
        grid-area: TL;
        border: SOLID rgba(223, 36, 31,1) 2px;
        background-color: rgba(255,175,173,1) ;
        display: inline-block;
    }
    .mid-mid{
        grid-area: mid;
        border: solid rgba(182, 25,108,1) 2px;
        background-color: rgba(228,155,193,1) ;
        display: inline-block;
    }
    .bottom-right{
        grid-area: BR;
        border: solid rgba(223,118, 31,1) 2px;
        background-color: rgba(255,210,173,1) ;
        display: inline-block;
    }
    .back-button{
        max-width: 5rem;
    }
    
}

