/* 414px width 896 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
}

.responsive {
    max-width: 100%;
    height: auto;
    padding: 1rem 1rem 1rem ;
}
.grid-container {
    display: grid;
    grid-template-rows: 70px auto auto;
}
.header1{
    grid-row: 1/2;
    background-color: rgba(223, 36, 31,1);
    background-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px rgba(255,175,173,1);
    color: white;
}
.info{
    grid-row: 2/3;
    background-color:rgba(255,210,173,1);
    background-size: 100%;
    text-align: center;
    height: auto;
    padding: 2rem 1rem 2rem;
}
.first-container h3{
    padding: 2rem 1rem 1rem;
    text-align: center;
}
.article1 {
    text-align: center;
}
.first-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


