/* 414px width 896 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: "Lucida Console", Courier, monospace;
}
hr{
    background-color: rgba(182, 25,108,1);
    height:0.2rem;
    max-width: 70%;
    position: relative;
    left: 15%;
    top: 25px;
}
.responsive {
    max-width: 100%;
    height: auto;
    padding: 0rem 2rem 1rem ;
}
.grid-container {
    display: grid;
    grid-template-rows: 70px auto auto auto;
}
.header{
    grid-row: 1/2;
    background-color: rgba(245, 98, 94,1);
    background-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px rgba(255,175,173,1);
    color: white;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
}
h1{
    text-shadow:5px 5px 4px black;
}

.info{
    grid-row: 2/3;
    background-color:rgba(255,210,173,1);
    background-size: 100%;
    text-align: center;
    height: auto;
    padding: 2rem 1rem 2rem;
    text-shadow: 4px 4px 8px rgba(245, 98, 94,1);
}
h3{
    padding: 2rem 1rem 1rem;
    text-align: center;
}
h2{
    padding: 3rem 1rem 3rem;

}
.article{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    padding: 0.5rem 1rem 0.5rem;
}


